{% extends 'base.html.twig' %}

{% block title %}
    Hello graffiti
{% endblock %}

{% block body %}
    <div class="layout-readable">
        <div class="stack">
            <h1>Hello graffiti</h1>
            <div class="layout-card">
                {% for blog in blogs %}
                    <article class="feature-card">
                        <h3>{{ blog.name }}</h3>
                        {{ blog.intro | markdown_to_html }}
                        <a href="{{ path('app_blog_show', {id: blog.id}) }}" style="margin-block-start: auto">
                            Read more ...
                        </a>
                    </article>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(blogs, 'graffiti/pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
